@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


/*-------------------------[variable]---------------------------*/
*{box-sizing:border-box}
:root{--theme-color:#2D3E83;--theme-color-yellow:#FFE600;--theme-body-bg:#f5f5f5;--white:#fff;--black:#000;--links:#0e307a;--base-font-size:16px;}
*{--font-family-base:'Poppins', sans-serif;--main-font:'Poppins', sans-serif;--main-normal:400;--main-medium:500;--main-bold:700;--main-exbold:900;--base-font-size:16px;}
ul{padding: 0;}
ul, li{list-style-type: none;}
/*-------------------------[variable]---------------------------*/

body {font-family: var(--font-family-base);font-size: var(--font-family-base);line-height: 1.5;    color: var(--bodycolor);background-color: var(--white) !important}
a {text-decoration: none;color: var(--links);}
a:hover {color: var(--orange);}
i{ color: var(--orange);}
.sec-color {color: var(--links);}
p{font-size: 16px;line-height: 25px !important;font-weight: 500}

/************ base styles *************************/
  .alert{width:100%;padding:5px;color:#062ff8}  
  
  .App{height:100vh;display:flex;justify-content:flex-start;flex-direction:column;align-items:stretch;}
  .App .navbar{width:100%;}

  .signInPage .login-page{padding-top: 65px;}
  .box-form .login-left-wrapper{min-height:100vh;display:flex;align-items:center;justify-content:center;padding:30px;position:relative;z-index:1}
  .box-form .login-left-wrapper:before{content:"";background:rgba(0,31,255,0.21);position:absolute;z-index:-1;height:100%;width:100%;top:0;left:0}
  .login-blue-bg{border-radius:5px;padding:22px;background-color:rgba(0,0,0,0.03);display:flex;align-items:center;justify-content:center;flex-direction:column;max-width:585px;width:100%;text-align:center}
  .login-blue-bg .login-content{background-color: rgba(0,0,0,0.03);}
  .signInPage{height:100vh}
  .box-form .left{color:var(--white);background-size:cover;background-repeat:no-repeat;overflow:hidden;    padding: 0;}
  .box-form .left .overlay{padding:30px;width:100%;height:100%;background:#ffe00396;overflow:hidden;box-sizing:border-box;display:flex;align-items:center;justify-content:center}
  .box-form div{height:auto}
  .box-form{background:var(--white);border-radius:10px;overflow:hidden;display:flex;flex:1 1 100%;align-items:stretch;justify-content:space-between}
  .box-form .right{padding:40px;overflow:hidden;display:flex;flex-direction:column;align-items:stretch;justify-content:center}
  .box-form h2{font-size:50px;line-height:normal;margin-bottom:24px}
  .box-form input{width:100%;padding:6px 8px;margin-top:0;font-size:16px;border:none;outline:none;border:1px solid #b0b3b9;margin-bottom:10px}
  .signInPage .box-form input {padding:10px;}
  .box-form .inputs{overflow:hidden}
  .signInPage .login-image{margin-right: -16%;position: relative;z-index: 9;width: 190px;}
  .box-form button{font-size:16px;padding:12px 35px;display:inline-block;border:0;outline:0;background-image:linear-gradient(135deg,#FFE600 10%,#f2da00 100%)}
  .box-form button:hover{color: #333 !important;}
  .box-form .form-control-label{text-align: left;color: var(--black);margin-bottom: 5px;font-weight: var(--main-medium);font-size: 14px}
  .box-form h2{color: var(--black);}
  

  .OnSubmitCertify1 .container, .OnSubmitCertify2 .container{border-radius: 20px}
  .card-0{background: linear-gradient(-18deg, rgb(255, 255, 255) 50%, var(--theme-color-yellow) 50%);color: var(--white);border: 0px;box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
    height: 100%;}
  .inner-card{margin: 79px 0px 70px 0px}
  .card-0{margin-top: 15px;margin-bottom: 15px}
  .card-1{border-radius: 17px;color: var(--black);box-shadow: 2px 4px 15px 0px rgb(0, 0, 0, 0.5) !important}
  .card-0 .form-title{color: var(--black);}

  .login-blue-bg .login-content h1{color:var(--black)}
  .login-blue-bg .login-content p{color:var(--black)}
  

  .img{border:1px solid #ddd;padding:10px;width:50px;height:50px}
  .btn{margin:3px}
  .btn-orange{background-color:var(--theme-color-yellow)!important;color:var(--var(--black))}
  .btnsubmit{margin-top:20px}
  .section-padding{padding:40px 0}
  .section-title{font-size:32px;font-weight:var(--main-medium);color:var(--black);text-align:center}
  .card{padding:20px}

  .NavbarWrapper{background: var(--white);position: fixed;width: 100% !important;z-index: 9;border-bottom: 1px solid #d7d6d6;}
  .logopart h1 {margin-left: 10px;}
  .logopart .img {padding: 4px 6px;width: 50px;height: 50px;}
  .form-control:focus, button:focus, button:focus:not(:focus-visible), button:focus-visible, .btn.btn-orange:focus, .btn.btn-orange:focus:not(:focus-visible), .btn.btn-orange:focus-visible {outline: none; border:1px solid #28a745 !important; box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25) !important;}
  .login-welcome-message h1 span{font-size: 45px;}
  .login-welcome-message h1{font-size: 26px;}
  .login-content{width: 100%;}

  .hombg{background: #fff;height: 100vh;padding-top: 90px;}
  .hombg .section-title{color: var(--black);}
  .hombg .card {box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;height: 100%;}

  .py-3.OnSubmitCertify1, .py-3.OnSubmitCertify2{padding-top: 90px !important;}
  
/*-------------------------[Xtra block css]---------------------------*/  
  input:focus, textarea:focus, select:focus{border-color: #ff80ff;box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 100, 255, 0.5);}
  .create{max-width:600px;margin:0 auto;text-align:center;background-color:var(--white)}
  .create label{text-align:left;display:block}
  .create h2{font-size:20px;color:#070002;margin-bottom:10px;background-color:var(--white)fff}
  .create textarea,.create select{width:70%;padding:2px;margin:10px 0;border:1px solid #ddd;box-sizing:border-box;display:block}
  .create input{width:50%;padding:2px;margin:2px 0;border:1px solid #e4da69;box-sizing:border-box;display:block}
  .create button{background:#FFE600;color:#2E2E38;border:10px;padding:8px;border-radius:8px;cursor:pointer;margin-right:20px;margin-bottom:20px}

/*-------------------------[media block]---------------------------*/

@media (min-width: 1200px){
  .container, .container-lg, .container-md, .container-sm, .container-xl {max-width: 1440px;}
  }
  @media ( max-width : 1366px) {
    .App .navbar .logopart h1{font-size: calc(.80rem + 1.5vw);}
  }
  @media ( max-width : 1040px) {
    .login-welcome-message h1 span {font-size: 32px;}
    .login-welcome-message h1 {font-size: 19px;}
  }
  
  @media (min-width: 992px){
  .container, .container-lg, .container-md, .container-sm {max-width: 98%;}
  }  
  @media (max-width: 991px){
  .logopart h1 {font-size: calc(.75rem + 1.5vw);}
  .login-welcome-message h1 span {font-size: 36px;}
  }
  @media (max-width: 800px){
  .login-welcome-message h1 span {font-size: 22px;}
  .login-welcome-message h1 {font-size: 16px;}
  }
  @media ( max-width : 768px) {
    .logopart h1{font-size:calc(0.50rem + 1.5vw)}
    .App .navbar{display:flex;align-items:center;justify-content:center}
    .NavbarWrapper {position: relative;}
    .signInPage .login-page {padding-top: 0;}
    .hombg {padding-top: 40px;height: auto;}
    .box-form button {padding: 12px 17px;}
    .login-page{height: auto !important;}
    .box-form .right {padding: 20px;}
    .py-3.OnSubmitCertify1, .py-3.OnSubmitCertify2 {padding-top: 20px !important;}
    .card-0 {width: 96% !important;}
  }    
  
  @media (min-width: 768px){
  .container, .container-lg, .container-md, .container-sm, .container-xl {max-width: 1440px;}
  }
  
  @media (min-width: 576px){
  }
  @media (max-width: 600px){
  .signInPage .login-image {width: 115px;}
  .login-welcome-message h1 span {font-size: 26px;}
  .login-welcome-message h1 {font-size: 18px;}
  .login-blue-bg {padding: 14px;}
  }

